<html lang="en" dir="ltr">
<head>

    <title>Uncertainty in Proteins</title>
    <meta charset="iso-8859-1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/own.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table_style.css') }}">
    <script src="/static/js/slider.js"></script>
    <script src="/static/js/hist.js"></script>
    <script src="/static/js/scatter.js"></script>
    <script src="/static/js/table.js"></script>
	<script type="text/javascript" src="/static/js/jquery-latest.js"></script>
	<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
    <script src="/static/js/extractSubset.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/js/ParallelCoordinates.js"></script>

</head>


<body>

<header>
	<h1>Uncertainty in Proteins</h1>
</header>

<div id="menu">
    <div id="slider"></div>
    <button id="update">Update Plots</button>
</div>
<div id="plots">
    <div id="plots_left">
		<div id="hist"></div>
		<div id="parCoordsDiv"></div>
	</div>
    <div id="plots_right">
		<div id="scatterDiv"></div>
	</div>
</div>
<div id="tableDiv"></div>
<script>
    var dataset = {{ data | safe }};
    var start=30;
    var end=60;
    slider = slider("#slider");
    slider.init(start,end);
    var sub=extractSubset([start,end]);
    var ran=extractRandom(sub,200);
    var scatter = scatter_plot(ran, "#scatterDiv");
    scatter.init();
    var tbl = table(subset,"tableDiv");
    tbl.init();
    //andere Plots bei slider.js beim Button aufrufen
</script>
</body>