<html lang="en" dir="ltr">
<head>

    <title>Uncertainty in Proteins</title>
    <meta charset="iso-8859-1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/plots_style.css') }}">
    <script src="/static/js/slider.js"></script>
    <script src="/static/js/hist.js"></script>
    <script src="/static/js/scatter.js"></script>
    <script src="/static/js/table.js"></script>
	<script type="text/javascript" src="/static/js/jquery-latest.js"></script>
	<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
    <script src="/static/js/extractSubset.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/js/ParallelCoordinates.js"></script>

</head>


<body>

<header>
	<h1>Uncertainty in Proteins</h1>
</header>

<div id="menu">
    <p>Choose range of uncertainty:</p>
    <div id="slider"></div>
    <p>Current range: (Press enter)</p><input type="text" id="currentRange1"/>-<input type="text" id="currentRange2"/>
</div>
<div id="plots">
    <div id="plots_left">
		<div id="hist"></div>
		<div id="parCoordsDiv"></div>
	</div>
    <div id="plots_right">
		<div id="scatterDiv"></div>
	</div>
</div>
<div id="tableDiv"></div>
<script>
    var dataset = {{ data | safe }};
    var subsetsize=300;
    var start=30;
    var end=60;
    var Slider = slider("#slider");
    Slider.init(start,end);
    var sub=extractSubset([start,end]);
    var ran=extractRandom(sub,subsetsize);
    var scatter = scatter_plot(ran, "#scatterDiv");
    scatter.init();
    var tbl = table(sub,"tableDiv");
    tbl.init();
    var parallel = ParCorPlot();
    parallel.init(ran);
    histograms(sub);
    document.getElementById("currentRange1").addEventListener("keypress",function(event){
        if(event.keyCode==13){
            d3.selectAll("#slider").selectAll("svg").remove();
                start=this.value;
                end=document.getElementById("currentRange2").value;
                var sub=extractSubset([start,end]);
                var ran=extractRandom(sub,subsetsize);
                var Slider = slider("#slider");
                Slider.init(start,end);
                scatter.update(ran);
                parallel.update(ran);
                tbl.update(sub);
                histograms(sub);
        }
    });
    document.getElementById("currentRange2").addEventListener("keypress",function(event){
        if(event.keyCode==13){
            d3.selectAll("#slider").selectAll("svg").remove();
            start=document.getElementById("currentRange1").value;
            end=this.value;
            var sub=extractSubset([start,end]);
            var ran=extractRandom(sub,subsetsize);
            var Slider = slider("#slider");
            Slider.init(start,end);
            scatter.update(ran);
            parallel.update(ran);
            tbl.update(sub);
            histograms(sub);
        }
    })
</script>
</body>