<html lang="en" dir="ltr">
<head>

    <title>Uncertainty in Proteins</title>
    <meta charset="iso-8859-1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='own.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table_style.css') }}">
    <script src="/static/js/slider.js"></script>
    <script src="/static/js/hist.js"></script>
    <script src="/static/js/scatter.js"></script>
    <script src="/static/js/table.js"></script>
	<script type="text/javascript" src="/static/js/jquery-latest.js"></script> 
	<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script> 
    <script src="/static/js/extractSubset.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/js/ParallelCoordinates.js"></script>

</head>


<body>

<h1>Uncertainty in Proteins</h1>
<div id="container">
    <div id="menu">
        <div id="slider">
        </div>
        <div id="hist">
        </div>
        <button id="update">
            Update Plots
        </button>
    </div>
    <div id="plots">
        <details>
            <summary>Parallel Coordinates</summary>
        <div id="parCoordsDiv"></div>
        </details>
        <details>
            <summary>Scatter Plot</summary>
        <div id="scatterDiv"></div>
        </details>
        <details>
            <summary>Table</summary>
        <div id="tableDiv"></div>
        </details>
        <!--Hier spaeter Parallel, Scatter Plot und Tabelle-->
    </div>
</div>
<script>
    var dataset = {{ data | safe }};
    slider = slider("slider");
    slider.init();
    //andere Plots bei slider.js beim Button aufrufen
</script>
</body>
